#header {
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 3px solid black;
    padding-bottom: 1vh;
}
#header-title{
    margin:0;
    padding:0;   
}
#header-buttons{
    display: flex;
    padding-right: 1vw;
    gap: 1vw;
    justify-content: space-between;    
}
